<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            I am a second-year engineering student at jadavpur university, majoring in Information Technology.
            I love problem-solving.
            In my 1st year I did web-development.
            In my second year I am doing Competitive programming & Web development along with Interview preparation.
            I am Beginner in competitive programming. 
            I am a learner, I always have a desire to learn and develop.
        </p>
    </div>

    {{>footer}}
    <script src="/js/index.js"></script>
</body>

</html>